.navbar{
   height: 64px;
   padding: 0 40px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #ffffff;
   border-bottom: 1px solid #e5e7eb;
}

.navbar-logo{
    font-size: 24px;
    font-weight: 700px;
}

.navbar-links{
    display: flex;
    gap: 50px;
}

.navbar-links a{
    text-decoration: none;
    color: #374151;
    font-size: 15px;
}

.navbar-links a:hover{
    color: #2563eb;
}


